parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Sco\\\\MessageBus\\\\Result\\\\Delegated\\:\\:\\$message\\.$#"
			count: 1
			path: tests/Unit/BusTest.php

		-
			message: "#^Call to an undefined method Sco\\\\MessageBus\\\\Result\\\\Delegated\\:\\:getMessage\\(\\)\\.$#"
			count: 1
			path: tests/Unit/BusTest.php

