includes:
    - ../../vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 8

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics

    inferPrivatePropertyTypeFromConstructor: true
